/* Import the desired font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  background-color: #f4f7fe !important;
  /* Force background color to override Ant Design's default */
  font-family: "DM Sans", sans-serif;
}

.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  /* Shadow for cards */
  border: 1px solid #e2e8f0;
  /* Light border */
}

.card-title {
  color: #1a202c;
  /* Dark text color */
  font-weight: bold;
}

.card-text {
  color: #4a5568;
  /* Lighter text color */
}

/* Add higher specificity for background override */
.ant-layout {
  background-color: #f4f7fe !important;
}

.ant-layout-content {
  background-color: #f4f7fe !important;
}